.accordion{
    position: relative;
    height: fit-content;
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
}


.item {
    width: 80%;
    margin-top: 80px;
    background-color: white;
    border-radius: 30px;
    margin-left: 10%;
    margin-bottom: 80px;
    padding: 10px;
    color: black;
    box-shadow: 0 15px 0 rgba(255, 255, 255, 0.8),
    inset 0 -5px 0 rgba(255, 255, 255, 0.25);
}



.faq{
    font-family: Righteous;
    align-items: center;
    color: black;
    text-shadow: 1px 1px lightblue;
    font-size: 45px;
}

.title {
    font-family: Righteous;
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    margin-top: 15px;
}

button.plus{
    content: "+";
    background: transparent;
    border: transparent;
    width: 45px;
    height: 45px;
    min-width: 20px;
    min-height: 20px;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    cursor: pointer;

}

.minus{
    content: "-";
    background: transparent;
    width: 45px;
    height: 45px;
    color: black;
    font-size: 25px;
    border: transparent;
    cursor: pointer;
}

.title h2{
    text-shadow: 1px 1px lightblue;
    font-family: Righteous;
    color: black;
    font-size: 35px;
    padding: 10px;
}

.content {
    padding: 0;
    max-height: 0;
    position: relative;
    background-color: #212839;
    transition: 1s ease;

}

.content.show{
    height: 100px;
    max-height: 9999px;
    position: relative;
    background-color: #212839;
}

.contents{
    font-family: Fredoka;
    margin-left: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    text-align: left;
    overflow: hidden;
    transition: transform 1s ease;
}

.road-map-q1-text{
    margin-top: 20%;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;

}

.road-map-q1-text h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.road-map-q1-text-shown{
    text-align: left;
    color: black;
    text-shadow: 1px 1px lightblue;
    font-size: 20px;
    font-family: Fredoka;

}

.road-map-q1-text-unshown{
    display: none;
}

.road-map-q1-text-unshown-show{
    text-align: left;
    color: black;
    text-shadow: 1px 1px lightblue;
    font-size: 20px;
    font-family: Fredoka;
    animation: top-to-bottom 0.5s ease-in;
}



@keyframes top-to-bottom {
    0%{
        transform: translateY(-15px);
        opacity: 0;
    }

    50%{
        transfrom: translateY(-7.5px);
        opacity: 0.5;
    }

    /*66%{
        transform: translateY(-20px);
        opacity: 0.8;
    }*/

    100%{
        transform: translatey(0px);
        opacity: 1;
    }
}

.read-more-btn{
    height: 50px;
    color: black;
    font-family: Righteous;
    text-shadow: 1px 1px lightblue;
    background: transparent;
    border: transparent;
}

.read-more-btn:hover{
    font-size: 20px;
}

@media (max-width: 648px) {

    .titleRoad{
        margin-left: 5%;
    }

    .read-more-btn{
        margin-left: 25%;
    }
}



@media (max-width: 648px) {

    .title h2{
        font-size: 22px;
        text-align: center;
    }

    .item {
        padding: 5px;
        text-align: center;
    }

    .contents{
        text-align: center;
        font-size: 22px;
    }

}