.mint{
    height: 100%;
    width: auto;
    margin-top: auto;
    position: relative;
    justify-content: space-between;
    background-color: transparent;
}

.mint-content{
    height: 1000px;
    position: relative;
    width: 100%;
    background-color: white;
}

.background-mint{
    background-image: url("../assets/mint_pic-removebg-preview.png");
}

.container{  padding-top: 20px;
    padding-bottom: 20px;}



.content-mint h2{ font-size:28px;
    text-align: center;
    align-content: center;
    align-items: center;
}

.box-mint{
    background-image: url("../assets/mint_pic-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
    align-content: center;
}

.box-mint-text{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
    width: 400px;
    height: 400px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
}


.box-mint:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
}

.box-mint:hover:before{
    left:-50%;
    transform: skewX(-5deg);
}




.box-mint .content-mint{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    padding:20px;
    text-align:center;
    align-items: center;
    align-content: center;
    color: aliceblue;

}

.mintButton1-mint {
    transition: 0.45s;
    margin-top: -10%;
    border: 4px solid royalblue;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px 20px;
    color: royalblue;
    cursor: pointer;
    font-family: 'Fredoka';
    /*text-shadow: 1px 1px lightblue;*/
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 24px;
    align-content: center;

}

.mintButton1-mint-sign {
    transition: 0.45s;
    margin-top: -10%;
    border: 4px solid royalblue;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px 22px;
    color: royalblue;
    cursor: pointer;
    font-family: 'Fredoka';
    /*text-shadow: 1px 1px lightblue;*/
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 24px;
    align-content: center;

}

.mintButton1-mint-amount {
    transition: 0.45s;
    margin-top: -10%;
    border: 4px solid royalblue;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 12.5px 20px;
    color: royalblue;
    cursor: pointer;
    font-family: 'Fredoka';
    /*text-shadow: 1px 1px lightblue;*/
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 24px;
    align-content: center;

}

.mintButton1-mint-no-hover {
    transition: 0.45s;
    margin-top: -10%;
    border: 4px solid royalblue;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px 20px;
    color: royalblue;
    cursor: pointer;
    font-family: 'Fredoka';
    /*text-shadow: 1px 1px lightblue;*/
    max-width: 80em;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 24px;
    align-content: center;

}

.mintButton1-mint:hover{
    /*text-shadow: 1px 1px lightgrey;*/
    background-color: royalblue;
    color: rgba(255, 255, 255, 0.8);
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.mintButton1-mint-sign:hover{
    /*text-shadow: 1px 1px lightgrey;*/
    background-color: royalblue;
    color: rgba(255, 255, 255, 0.8);
    border: 4px solid rgba(255, 255, 255, 0.8);
}





.box-mint span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;

}

.box-mint span:nth-child(1)
{
    transform:rotate(0deg);
}

.box-mint span:nth-child(2)
{
    transform:rotate(90deg);
}

.box-mint span:nth-child(3)
{
    transform:rotate(180deg);
}

.box-mint span:nth-child(4)
{
    transform:rotate(270deg);
}

.box-mint span:before
{
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform:scaleX(0);
        transform-origin: left;
    }
    50%
    {
        transform:scaleX(1);
        transform-origin: left;
    }
    50.1%
    {
        transform:scaleX(1);
        transform-origin: right;

    }

    100%
    {
        transform:scaleX(0);
        transform-origin: right;

    }


}



/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 250px) {

}

