.container {
    height: fit-content;
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card1{
    position: relative;
    overflow: hidden;
    width: 330px;
    height: 460px;
    background-color: transparent;
    margin: 40px;
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card1::before{
    content: '';
    position: absolute;
    top: -130px;
    left: -125px;
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(5px);
}

/*.card1:hover{
    background: linear-gradient(rgba(0,0,0,10), gold, rgba(0,0,0,10));
    box-shadow: 0 15px 0 rgba(255, 255, 255, 0.8),
    inset 0 -15px 0 rgba(255, 255, 255, 0.25),
    0 45px 0 rgba(0,0,0,0.15);

}*/

.eugen{
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.radu{
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.vlad{
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.stefan{
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.boboc {
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.bogdan{
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.cristiana{
    cursor: pointer;
    height: 180px;
    width: 180px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 6px 6px 0px 5px lightblue;
}

.content{
    font-size: large;
    color: aliceblue;
    bottom: -20px;
}

.names{
    font-family: "Righteous";
    text-shadow: 0.5px 0.5px lightblue;
}

.descriere-rol{
    font-family: Fredoka;
    background-color: transparent;
    border: 5px solid transparent;
    text-shadow: 0.5px 0.5px lightblue;
    text-align: justify-all;
    margin-top: 20px;
    font-size: 24px;
}

.descriere{
    font-family: Fredoka;
    background-color: transparent;
    border: 5px solid transparent;
    text-align: justify-all;
    text-shadow: 0.5px 0.5px lightblue;
    margin-top: 10px;
    font-size: 22px;
}

.logo{
    height: 55px;
    width: 55px;
    position: center;
    border-style: solid;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 0px 2.5px lightblue;
}

.logo:hover{
    height: 60px;
    width: 60px;
    border-style: solid;
    border-width: 2.5px 2.5px 2.5px 2.5px;
    border-color: aliceblue;
    border-radius: 11px 11px 11px 11px;
    box-shadow: 3px 3px 0px 2.5px lightblue;
}


@media (max-width: 648px) {
    .eugen{
        height: 150px;
        width: 150px;
    }

    .radu{
        height: 150px;
        width: 150px;
    }

    .vlad {
        height: 150px;
        width: 150px;
    }

    .stefan{
        height: 150px;
        width: 150px;
    }

    .boboc {
        height: 150px;
        width: 150px;
    }

    .bogdan{
        height: 150px;
        width: 150px;
        align-items: center;
    }

    .cristiana{
        height: 150px;
        width: 150px;
    }

    .card1{
        width: 300px;
        height: 400px;
    }

    .descriere{
        align-items: center;
        font-family: Fredoka;
        background-color: transparent;
        text-align: center;
        margin-top: -5px;
        font-size: 18px;
        border: none;
    }

    .logo{
        height: 40px;
        width: 40px;
        position: center;
        border-style: solid;
        border-width: 2px 2px 2px 2px;
        border-color: aliceblue;
        border-radius: 11px 11px 11px 11px;
        box-shadow: 3px 3px 0px 2.5px lightblue;
        margin-top: 5px;
    }
}
