.timer {
    font-family: 'Fredoka';
    height: 100px;
    background-color: #7388E1FF;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 30px;
    margin: 0;
}

.timer-p{
    text-align: center;
}
